{{ partial "header.html" . }}


{{if .Site.Params.cover}}
<header class="main-header " style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
{{else}}
<header class="main-header no-cover">
{{end}}



<nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="home-button" href="{{ .Site.BaseURL }}"><span class="burger">&#9754;</span><span class="word">404</span></a>
        {{end}}
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="icon-cog"> </span><span class="word">osgav</span></a>
        {{else}}
            {{ if .Site.Params.RSSLink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
              <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{end}}
        {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            {{ if .Site.Params.linkedinName }}
                <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}">
                    <span class="icon-linkedin" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.githubName }}
                <a  href="https://github.com/{{ .Site.Params.githubName }}">
                <span class="icon-github" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.twitterName }}
                <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}">
                    <span class="icon-twitter" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}

            <h1><span class="page-title">{{ .Site.Title }}</span></h1>
            <h2 style="line-height: 1px;"><span class="page-description">{{ .Site.Params.description }}</span></h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

  <article class="post">
    <h1>404 Not Found</h1>
    <p>Go back <a href="/">home</a>.</p>
    <img src="/images/404.jpg" />
  </article>

{{ partial "suggestions.html" . }}

{{ partial "footer.html" . }}
