<!-- this is the template for blog posts -->

{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{if .Params.image}}
  {{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://")}}
  <header class="main-header post-head" style="background-image: url({{.Params.image}})">
  {{ else }}
  <header class="main-header post-head" style="background-image: url({{ $baseurl }}{{.Params.image}})">
  {{ end }}
  <nav class="main-nav overlay clearfix">
{{else}}
<header class="main-header post-head no-cover">
  <nav class="main-nav clearfix">
{{end}}

  <div id="stickymenu">
  {{ if .Site.Params.logo }}
      <a class="home-button" href="{{ .Site.BaseURL }}"><span class="burger">&#8679;</span><span class="word">Home</span></a>
  {{end}}
  {{ if .Site.Menus.main }}
      <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">osgav</span></a>
  {{else}}
      <a class="menu-button icon-feed" href="{{ .Site.BaseURL }}index.xml">&nbsp;&nbsp;Subscribe</a>
  {{end}}
  </div>
  </nav>
</header>



<div id="proceedpostpage" class="proceedpostpage"></div>

<main class="content" role="main">




  <article class="post {{ .Section }}">

    <header class="post-header">
        <h1 class="post-title">{{.Title}}</h1>
        <small>{{.Description}}</small>

        <section class="post-meta">
        {{$author := index .Site.Data.authors .Params.author }}
        {{ if isset $author "thumbnail" }}
            <img class="author-thumb" src="{{ .Site.BaseURL }}{{ $author.thumbnail }}" alt="Author image" nopin="nopin" />
        {{else if .Site.Params.logo }}
            <img class="author-thumb" src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Author image" nopin="nopin" />
        {{end}}
        {{if and (ne .Params.author .Site.Params.author) .Params.author}}
        {{$author := index .Site.Data.authors .Params.author }}
            {{$author.name}}
        {{else if .Site.Params.author}}
            <span>{{.Site.Params.author}}</span>
        {{end}} | 
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }} 
        </time> | 
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                reading time: <b>{{ .ReadingTime }} mins</b>
        </time><br />
        <span class="post-tags">
        {{if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
                &nbsp;<a href="{{$baseurl}}tags/{{ $tag | urlize }}.html">#{{ $tag }}</a>
            {{ end }}
        {{end}}
        </span>        





        
        </section>
    </header>

    <section class="post-content">
      &nbsp;{{ .Content }}
    </section>


  <footer class="post-footer">


    {{if .Site.Params.logo}}
    <figure class="author-image">
        <a class="img" href="{{.Site.BaseURL}}" style="background-image: url({{ $baseurl }}{{.Site.Params.logo}})"><span class="hidden">{{.Site.Params.author}}'s Picture</span></a>
    </figure>
    {{end}}

    {{ partial "author.html" . }}

    {{ partial "share.html" . }}

    {{ partial "disqus.html" . }}

  </footer>
</article>

</main>

<script>

        window.onscroll = function() {myFunction()};
        
        var header = document.getElementById("stickymenu");
        // var sticky = header.offsetTop;

        var header2 = document.getElementById("proceedpostpage");
        var sticky2 = header2.offsetTop;        
        
        function myFunction() {
          if (window.pageYOffset >= 0) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
          if (window.pageYOffset >= sticky2) {
            header2.classList.add("stickymenuholder");
          } else {
            header2.classList.remove("stickymenuholder");
          }          
        }

     

</script>


{{ partial "suggestions.html" . }}

{{ partial "footer.html" . }}
