<!-- this is the template for /tags.html -->

{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{if .Params.cover}}
  {{if or (eq (substr .Params.cover 0 7) "http://") (eq (substr .Params.cover 0 8) "https://")}}
    <header class="main-header tag-head" style="background-image: url({{.Params.cover}})">
  {{ else }}
    <header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Params.cover}})">
  {{ end }}
{{else if .Site.Params.cover}}
  {{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
    <header class="main-header tag-head" style="background-image: url({{.Site.Params.cover}})">
  {{ else }}
    <header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Site.Params.cover}})">
  {{ end }}
{{else}}
  <header class="main-header tag-head no-cover">
{{end}}


    <nav class="main-nav overlay clearfix">
        <div id="stickymenu">
        {{ if .Site.Params.logo }}
            <a class="home-button" href="{{ .Site.BaseURL }}"><span class="icon-standard"> </span><span class="word">home</span></a>
        {{end}}
        
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="icon-cog"> </span><span class="word">osgav</span></a>
        {{else}}
            {{ if .Site.Params.RSSLink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
              <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{end}}
        {{end}}
        </div>
    </nav>

    <div class="vertical">
            <div class="main-header-content inner main-nav ainvert">
                <h1><span class="page-title">&nbsp;{{ .Site.Title }}&nbsp;</span> <a href="#">&nbsp;> Tags&nbsp;</a></h1>
                <!-- <h2 style="line-height: 1px;"><span class="page-description">{{ .Params.description }}</span></h2> -->
                <h2 style="line-height: 1px;"><span class="page-description">#things #ive #written #about</span></h2>
            </div>
        </div>    

    </header>


<div id="proceedpostpage" class="proceedpostpage"></div>

<main class="content" role="main">



<article class="post {{ .Section }}">

  <section class="post-content">

  <!-- <h2 class="term-list-title">
      <a href="{{ .Permalink }}" class="linktopost">{{ .Title }}</a>
  </h2> -->
  <br />
  <!-- <div class="terms">
  {{ $data := .Data }}
  {{ range $key, $value := .Data.Terms.ByCount }}
    <div class="term">
      <a href="{{ $data.Plural }}/{{ $value.Name | urlize }}.html">
        <div class="term-title">{{ $value.Name }} ({{ $value.Count }}) </div> 
      </a>
    </div>
  {{ end }}
  </div> -->

  <center>
  {{ partial "tagcloud.html" . }}
  </center>
  <br />  <br />



</section>    

<section class="post-content">
  <br />
  <h6>blog archive</h6>
    <span class="post-meta">
    {{ $pages := (where (where .Site.Pages "Type" "post") "IsPage" true) }}
    {{ range first 99 $pages }}
    <span class="post-tags">
        {{ $t := (time "2016-06-05") }}
        <!-- date of osgav.run first post -->
        {{ $delta := $t.Sub (time .Date) }}
        {{ $osgav_epoch_negative := int (div $delta.Hours 24)}}
        {{ $osgav_epoch := int (sub 0 $osgav_epoch_negative) }}      
    <a href="{{ .Permalink }}">{{ .Date.Format "2006" }} [{{ $osgav_epoch }}] {{ .Title }}</a>
    <br />
    <!-- .Format string needs to be actual specific date in 2006 -->
    <!-- https://gohugo.io/functions/format/ -->
    <!-- https://www.madboa.com/blog/2016/08/24/hugo-dateformat/ -->
    </span>
    {{ end }}
    </span>
  </section>




<footer class="post-footer">

  {{if .Site.Params.logo}}
    <figure class="author-image">
        <a class="img" href="{{.Site.BaseURL}}" style="background-image: url({{ $baseurl }}{{.Site.Params.logo}})"><span class="hidden">{{.Site.Params.author}}'s Picture</span></a>
    </figure>
    {{end}}

    {{ partial "author.html" . }}    

  </footer>



</article>   

</main>

<script>

    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("stickymenu");
    // var sticky = header.offsetTop;

    var header2 = document.getElementById("proceedpostpage");
    var sticky2 = header2.offsetTop;        
    
    function myFunction() {
      if (window.pageYOffset >= 0) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
      if (window.pageYOffset >= sticky2) {
        header2.classList.add("stickymenuholder");
      } else {
        header2.classList.remove("stickymenuholder");
      }          
    }

 

</script>


{{ partial "footer.html" . }}

