<!-- this is the template for /news/paper.html and content under /news/* -->

{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}


{{if .Params.image}}
  {{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://")}}
    <header class="main-header post-head" style="background-image: url({{.Params.image}})">
  {{ else }}
    <header class="main-header post-head" style="background-image: url({{ $baseurl }}{{.Params.image}})">
  {{ end }}
{{else}}
<header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Site.Params.cover}})">
{{end}}


<nav class="main-nav overlay clearfix">



      <div id="stickymenu">
      {{ if .Site.Params.logo }}
        <a class="home-button" href="{{ .Site.BaseURL }}"><span class="burger">&#8679;</span><span class="word">Home</span></a>
      {{end}}
      {{ if .Site.Menus.main }}
          <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">osgav</span></a>
      {{else}}
        {{ if .Site.Params.RSSLink}}
          <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
        {{else}}
          <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
        {{end}}
      {{end}}
      </div>
    </nav>

    {{if eq .Params.index true}}
    <div class="vertical">
        <div class="main-header-content inner main-nav ainvert">
            <h1 class="page-title">osgav <a href="#">> {{.Title}}</a></h1>
            <h2 style="line-height: 1px;"><span class="page-description">{{ .Params.description }}</span></h2>
        </div>
    </div>
    {{end}}


</header>

<!-- FLEX METHOD option 3 here https://stackoverflow.com/a/325334 -->
<!-- TRYING FLEX METHOD STARTING HERE -->
<div class="ifrowcontainer">


<div id="proceedpostpage" class="proceedpostpage"></div>

<main class="content" role="main">




  <!-- <article class="newsposthead">
      <header class="post-header">

          {{if eq .Params.index true}}
          {{else}}
            <h1 class="post-title">{{.Title}}</h1>
            <small>{{.Description}}</small>
          {{end}}


          {{ .Content }}
    
        </header>
  </article> -->


  <article class="newspost {{ .Section }}">

    <!-- FLEX  METHOD 2 -->
<div class="ifrowbefore">    

    <section class="post-content">

      <!-- <div style="width:100%; height: 6500px; overflow:hidden; position:relative; z-index: 0"> -->

        <!-- <script type="text/javascript" src="http://widgets.paper.li/javascripts/sr.iframe.min.js"></script> -->
        <script type="text/javascript" src="{{.Site.BaseURL}}js/sr.iframe.min.js"></script>
        <script type="text/javascript">
          Paperli.PaperFrame.Show({
            domain: 'paper.li',
            pid: 'c70dc6e0-37cb-4788-b540-029fb57928e9'
          });
        </script>
        
      <!-- </div> -->

    </section>

  </div>
  <!--  FLEX METHOD 2 -->

  <footer class="post-footer">

    {{if .Site.Params.logo}}
    <figure class="author-image">
        <a class="img" href="{{.Site.BaseURL}}" style="background-image: url({{ $baseurl }}{{.Site.Params.logo}})"><span class="hidden">{{.Site.Params.author}}'s Picture</span></a>
    </figure>
    {{end}}

    <center>
    <a href="https://paper.li/e-1524660287#/" target="_blank">View on paper.li</a>
    <br /><br />
    <script type="text/javascript" src="{{.Site.BaseURL}}js/sr.subscribe.min.js"></script>
    <script type="text/javascript">
  paperli.subscribe.show({
    id: 'c70dc6e0-37cb-4788-b540-029fb57928e9',
    domain: 'paper.li',
    width: '50%',
    locale: {"title":"Subscribe to the Email Newsletter","email.placeholder":"enter your email address","subscribe":"Subscribe"},
    style: '.subscribe-widget{background-color:#e5e5e5;}.btn-info{background-color:#ac393F;border-color:#ac393F;}'
  });
    </script>
    </center>

  </footer>

</article>





</main>


</div>
<!-- TRYING FLEX METHOD ENDING HERE -->




<script>

    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("stickymenu");
    // var sticky = header.offsetTop;

    var header2 = document.getElementById("proceedpostpage");
    var sticky2 = header2.offsetTop;        
    
    function myFunction() {
      if (window.pageYOffset >= 0) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
      if (window.pageYOffset >= sticky2) {
        header2.classList.add("stickymenuholder");
      } else {
        header2.classList.remove("stickymenuholder");
      }          
    }

 

</script>

{{ partial "footer.html" . }}
