{{ define "main" }}

  {{ $toc := and (.Params.showTableOfContents | default (.Site.Params.list.showTableOfContents | default false)) (in .TableOfContents "<ul") }}

  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="rounded-box font-mono mt-0 p-4 text-4xl font-extrabold text-neutral-900 dark:text-neutral">&nbsp;$ ./portfolio</h1>
  </header>

  <section
    class="flex flex-col max-w-full prose lg:flex-row dark:prose-invert {{ if $toc -}}
      mt-12
    {{- else -}}
      mt-0
    {{- end }}"
  >
    {{ if $toc }}
      <div class="order-first px-0 lg:max-w-xs ltr:lg:pl-8 rtl:lg:pr-8 lg:order-last">
        <div class="ltr:pl-5 rtl:pr-5 toc lg:sticky lg:top-10">
          {{ partial "toc.html" . }}
        </div>
      </div>
    {{ end }}
    <div class="min-w-0 min-h-0 max-w-prose">
      {{ .Content | emojify }}
    </div>
  </section>


<!-- messing around with creating a gallery view -->

<section class="text-neutral-300">
  <div class="container py-24 mx-auto">
    <div class="flex flex-wrap -m-4">

    {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
      {{ range .Pages }}
        {{ partial "portfolio-link.html" . }}
      {{ end }}
    {{ end }}

    </div>
  </div>
</section>

<!-- messing around with creating a gallery view -->


{{ end }}
