
/* osgav custom */

html {
  font-size: 11pt;
}

::-moz-selection {
  background: rgb(var(--color-primary-400));
  color: rgb(var(--color-neutral-800));
}

::selection {
  background: rgb(var(--color-primary-400));
  color: rgb(var(--color-neutral-800));
}

.rounded-box {
  border: rgba(var(--color-neutral-600),1) 2px solid;
  border-radius: 25px;
}

.osgav-transition-ease-500 {
  transition: all 0.5s ease;
}

.tagcloudtag {
  background-color: transparent;
  text-decoration: none;
  transition: all 0.5s ease;
}

.tagcloudtag:hover {
  color: rgba(var(--color-neutral-800),1);
  background-color: rgba(var(--color-primary-400),1);
}

.powered-by-link {
  color: rgb(var(--color-neutral-800));
  background-color: rgb(var(--color-neutral-400));
  padding-top: 2px;
  transition: all 0.5s ease;
}

.powered-by-link:hover {
  color: rgb(var(--color-neutral-800));
  background-color: rgb(var(--color-primary-400));
}
