<!-- article class="my-10 py-1 pl-3 border-l-4 border-neutral-300"-->
<article>
  <h3 class="flex items-center text-l font-semibold">
    {{ with .Params.externalUrl }}
      <div>
        <span
          class="align-top cursor-default text-neutral-400 dark:text-neutral-500"
          title="{{ i18n "list.externalurl_title" }}"
        >
          {{ $icon := resources.Get (print "icons/link.svg") }}
          <span class="relative inline-block align-text-bottom icon">
            {{ $icon.Content | safeHTML }}
          </span>
        </span>&nbsp;
        <a
          class="decoration-primary-500 hover:underline hover:underline-offset-2 text-neutral-800 dark:text-neutral"
          href="{{ . }}"
          target="_blank"
          rel="external"
          >{{ $.Title | emojify }}</a
        >
      </div>
    {{ else }}
      {{ $t := (time "2016-06-05") }}
      <!-- date of osgav.run first post -->
      {{ $delta := $t.Sub (time .Date) }}
      {{ $osgav_epoch_negative := int (div $delta.Hours 24)}}
      {{ $osgav_epoch := int (sub 0 $osgav_epoch_negative) }}
      <a
        class="px-2 py-0.5 text-neutral-800 dark:text-neutral-300 dark:hover:text-neutral-800 hover:bg-primary-400 hover:px-2 hover:py-0.5"
        href="{{ .RelPermalink }}"
	><span class="font-mono">[{{ $osgav_epoch }}]</span> &nbsp; {{ .Title | emojify }}</a
      >
    {{ end }}
    {{ if and .Draft .Site.Params.article.showDraftLabel }}
      <div class=" ltr:ml-2 rtl:mr-2">
        {{ partial "badge.html" (i18n "article.draft" | emojify) }}
      </div>
    {{ end }}
    {{ if templates.Exists "partials/extend-article-link.html" }}
      {{ partial "extend-article-link.html" . }}
    {{ end }}
  </h3>
</article>
