<a class="osgav-transition-ease-500
          inline-block
          mx-1 px-4 py-2.5
          border border-primary-900 rounded
          font-mono text-xs no-underline
          hover:border-primary-400 hover:rounded
          hover:bg-primary-900 hover:text-neutral-50"
   href="/blog.html">browse my blog >>></a>

<a class="osgav-transition-ease-500
          inline-block
          mx-1 px-4 py-2.5
          border border-primary-900 rounded
          font-mono text-xs no-underline
          hover:border-primary-400 hover:rounded
          hover:bg-primary-900 hover:text-neutral-50"
   href="/tags.html">view blog archive >>></a>
