<article class="max-w-full prose dark:prose-invert">
  {{ with .Title }}
    <header>
      <h1 class="font-mono mt-8 px-4 py-3 text-4xl font-extrabold text-neutral-800 bg-primary-400">&nbsp;$ ./{{ . | emojify }}</h1>
    </header>
  {{ end }}
  <section>{{ .Content | emojify }}</section>
</article>

<section>
  {{ partial "recent-articles.html" . }}
</section>

<article class="max-w-full prose dark:prose-invert">
<section>
  <br>
  <h1 class="font-mono mt-8 px-4 py-3 text-4xl font-extrabold text-neutral-800 bg-neutral-300">&nbsp;$ ./explore</h1>
  <center>
    {{ .Scratch.Set "href" "/blog.html" }}
    {{ .Scratch.Set "text" "browse my blog >>>" }}
    {{ partial "explore-button.html" . }}

    {{ .Scratch.Set "href" "/tags.html" }}
    {{ .Scratch.Set "text" "view blog archive >>>" }}
    {{ partial "explore-button.html" . }}
  </center>
</section>
</article>

<section>
  <center>
    {{ partial "tagcloud.html" . }}
  </center>
</section>

