<header class="py-6 font-semibold sm:py-10 text-neutral-900 dark:text-neutral print:hidden">
  <nav class="flex justify-between">
    <div class="basis-8/12 md:basis-7/12 lg:basis-6/12">
    {{ partial "header/graphic.svg" }}
    </div>
    {{/* Main menu */}}
    {{ if or .Site.Menus.main (.Site.Params.enableSearch | default false) }}
      <!-- <ul class="flex flex-col list-none ltr:text-right rtl:text-left sm:flex-row"> -->
      <ul class="text-right">
        {{ if .Site.Menus.main }}
	{{ $currentPage := . }}
          {{ range .Site.Menus.main }}
	    {{ if $currentPage.IsMenuCurrent .Menu . }}
              <li class="mb-0 font-mono">
                <a
                  class="inline-block my-0.5 px-2 py-0.5 text-neutral-800 dark:text-neutral-800 dark:hover:text-neutral-800 bg-primary-400 hover:bg-primary-400"
                  href="{{ .URL }}"
                  title="{{ .Title }}"
                  >{{ .Name | markdownify | emojify }}</a
                >
              </li>
	    {{ else if $currentPage.HasMenuCurrent .Menu . }}
              <li class="mb-0 font-mono">
                <a
                  class="inline-block my-0.5 px-2 py-0.5 text-neutral-800 dark:text-neutral-800 dark:hover:text-neutral-800 bg-primary-400 hover:bg-primary-400"
                  href="{{ .URL }}"
                  title="{{ .Title }}"
                  >{{ .Name | markdownify | emojify }}</a
                >
              </li>
	    {{ else }}
              <li class="mb-0 font-mono">
                <a
                  class="inline-block my-0.5 px-2 py-0.5 text-neutral-800 dark:text-neutral-800 dark:hover:text-neutral-800 bg-neutral-300 hover:bg-primary-400"
                  href="{{ .URL }}"
                  title="{{ .Title }}"
                  >{{ .Name | markdownify | emojify }}</a
                >
              </li>
	    {{ end }}
          {{ end }}
        {{ end }}
        {{ if .Site.Params.enableSearch | default false }}
          <li>
            <button
              id="search-button"
              class="text-base inline-block my-0.5 px-2 pt-1 pb-1.5 hover:text-primary-400 hover:bg-neutral-800 dark:hover:text-primary-400"
              title="{{ i18n "search.open_button_title" }}"
            >
              {{ partial "icon.html" "search" }}
            </button>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </nav>
</header>
